# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js (Frontend)
node_modules/
dist/
dist-ssr/
*.local
.vite/

# Python (Backend)
venv/
flu_finder_venv
test_map.html
data.csv
flu_finder_src/data.csv
.env
__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Google
google_backend.json